.all_menus_title {
font-size:20px;
}

.all_menus_wrapper{
width: fit-content;
position:absolute;
}

.all_menus_hr{
width: 100%;
}

.title_plus_minus_wrapper {
position:relative;
cursor:pointer;
}

.title_wrapper{
margin-top: 30px;
}

.nontitle_plus_minus_wrapper {
position:relative;
left:-10px;
cursor:pointer;
}

.plus_minus {
position:absolute;
}

.minus{
display:none;
}

.menu_title{
margin-top:10px;
font-size:17px;
position: relative;
left: 10px;
}

.field_name_wrapper {
position: relative;
left: 25px;
}

.branch_name_wrapper {
position: relative;
left: 40px;
}

.nest_name_wrapper {
position: relative;
left: 55px;
}

.wrappers {
display:none;
margin-top:5px;
margin-bottom:5px;
}

.add_menu_wrapper {
width: 360px;
position:absolute;
right: 150px;
}

.add_menu_title {
height: 26px;
font-size: 16px;
}

.add_menus_hr {
width:100%;
}

.delete_menu{
position:relative;
left: 5px;
}

button{
cursor:pointer;
}

a:hover{
font-weight:bolder;
}