<div class="all_menus_wrapper">
    {% block menu %}
    <p class="all_menus_title">Все имеющееся меню</p>
    {% endblock menu %}

    {% block menucicle %}

    {% for item in menus %}


    {% ifchanged item.menu_name.title %}
    <div class="title_wrapper">
        <div class="title_plus_minus_wrapper" data-titleToClose="title_to_close">
            <div class="plus_minus minus">–</div>
            <div class="plus_minus plus" data-title="{{ item.menu_name.title }}">+</div>
        </div>
        <div class="menu_title">
            <span>{{ item.menu_name.title }}</span>
        </div>
    </div>
    {% endifchanged %}

    {% ifchanged item.field_name %}
    <div class="{{ item.menu_name.title }} wrappers field_name_wrapper {{ item.menu_name.title }}">
        <div class="nontitle_plus_minus_wrapper field_name{{ item.field_name }}"
             data-fieldToClose="field_name_to_close">
            <div class="plus_minus minus">–</div>
            <div class="plus_minus plus" data-field="{{ item.field_name }}">+</div>
        </div>
        <div class="{{ item.menu_name.title }}2">
            <a class="field_name" href="{% url 'field' item.menu_name.id item.field_name|cut:' ' %}">
                {{ item.field_name }} </a>
        </div>
    </div>
    {% endifchanged %}

    {% ifchanged item.branch_name %}
    <div class="{{ item.menu_name.title }} {{ item.field_name }} wrappers branch_name_wrapper">
        <div class="nontitle_plus_minus_wrapper field_name{{ item.field_name }} branch_name{{ item.branch_name }}">
            <div class="plus_minus minus">–</div>
            <div class="plus_minus plus" data-field="{{ item.field_name }}">+</div>
        </div>
        <div class="{{ item.menu_name.title }}3">
            <a class="branch_name"
               href="{% url 'field' item.menu_name.id item.field_name|cut:' ' %}">
                {{ item.branch_name }}
            </a>
        </div>
    </div>
    {% endifchanged %}

    {% ifchanged item.nest_name %}
    <div class="{{ item.menu_name.title }} {{ item.field_name }} wrappers nest_name_wrapper {{ item.branch_name }}">
        <a class="nest_name"
           href="{% url 'field' item.menu_name.id item.field_name|cut:' ' %}">
            {{ item.nest_name}} </a>
    </div>
    {% endifchanged %}


    {% endfor %}
    <hr class="all_menus_hr">
    {% endblock menucicle %}

</div>

{% block addmenu %}

<div class="add_menu_wrapper">
    <form class="for_csrf" action="#" method="post">
        {% csrf_token %}
    </form>
    <button class="add_menu_title">Добавить меню</button>
    <input class="enter_the_menuname" type="text" placeholder="введите название">
    <div class="menus_on_demand">


        {% for item in menus %}

        {% if item.menu_name.title|lower|cut:' ' in names|lower|cut:' ' %}

        {% ifchanged item.menu_name.title %}
        <div class="title_wrapper">
            <div class="title_plus_minus_wrapper" data-titleToClose="title_to_close">
                <div class="plus_minus minus">–</div>
                <div class="plus_minus plus" data-title="{{ item.menu_name.title }}">+</div>
            </div>
            <div class="menu_title">
                <span>{{ item.menu_name.title }}</span>
                <button class="delete_menu">удалить</button>
            </div>
        </div>
        {% endifchanged %}

        {% ifchanged item.field_name %}
        <div class="{{ item.menu_name.title }} wrappers field_name_wrapper {{ item.menu_name.title }}">
            <div class="nontitle_plus_minus_wrapper field_name{{ item.field_name }}"
                 data-fieldToClose="field_name_to_close">
                <div class="plus_minus minus">–</div>
                <div class="plus_minus plus" data-field="{{ item.field_name }}">+</div>
            </div>
            <div class="{{ item.menu_name.title }}2">
                <a class="field_name" href="{% url 'field' item.menu_name.id item.field_name|cut:' ' %}">
                    {{ item.field_name }} </a>
            </div>
        </div>
        {% endifchanged %}

        {% ifchanged item.branch_name %}
        <div class="{{ item.menu_name.title }} {{ item.field_name }} wrappers branch_name_wrapper">
            <div class="nontitle_plus_minus_wrapper field_name{{ item.field_name }} branch_name{{ item.branch_name }}">
                <div class="plus_minus minus">–</div>
                <div class="plus_minus plus" data-field="{{ item.field_name }}">+</div>
            </div>
            <div class="{{ item.menu_name.title }}3">
                <a class="branch_name"
                   href="{% url 'field' item.menu_name.id item.field_name|cut:' ' %}">
                    {{ item.branch_name }}
                </a>
            </div>
        </div>
        {% endifchanged %}

        {% ifchanged item.nest_name %}
        <div class="{{ item.menu_name.title }} {{ item.field_name }} wrappers nest_name_wrapper {{ item.branch_name }}">
            <a class="nest_name"
               href="{% url 'field' item.menu_name.id item.field_name|cut:' ' %}">
                {{ item.nest_name}} </a>
        </div>
        {% endifchanged %}

        {% endif %}

        {% endfor %}

    </div>
    <hr class="add_menus_hr">
</div>

{% endblock addmenu %}